---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

const posts = await getCollection("blog");
const sortedPosts = posts.sort(
  (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime()
);
---

<BaseLayout title="Blog" description="Nick’s notes and posts.">
  <section>

    {sortedPosts.length === 0 && <p>No posts yet.</p>}

    {sortedPosts.length > 0 && (
      <ul class="blog-list">
        {sortedPosts.map((post) => (
          <li class="blog-list__item">
            <a class="blog-list__link" href={`/blog/${post.slug}/`}>
              <h2 class="blog-list__title">{post.data.title}</h2>
              <p class="blog-list__meta">
                {post.data.pubDate}
              </p>
            </a>
          </li>
        ))}
      </ul>
    )}
  </section>
</BaseLayout>
