---
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
const sortedPosts = posts.sort(
  (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime()
);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Blog – Nick</title>
  </head>
  <body>
    <main>
      <h1>Blog</h1>

      {sortedPosts.length === 0 && <p>No posts yet.</p>}

      <ul>
        {sortedPosts.map((post) => (
          <li>
            <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
            <span> – {post.data.pubDate}</span>
          </li>
        ))}
      </ul>
    </main>
  </body>
</html>