---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="404 – Page not found" description="The page you requested could not be found.">
  <section>
    <h1>404 - Page not found</h1>
    <p>
        Sorry, you've navigated to a page that doesn't exist. 
    </p>
  </section>
</BaseLayout>
