---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Nick – Home" description="Nick’s personal site.">
  <section>
    <h1>Hello.</h1>
    <p>
    I'm Nicolas. I hold a B.Sc. in Computer Science from Seattle University. I recently departed Microsoft, where I spent the last 6 years as a technical writer, to focus on defining my values and enjoying life. If you'd like to have a conversation, reach out to me on LinkedIn.
    </p>
  </section>
</BaseLayout>